
.headerbgcolor
{
    background: #9900cc;
}
.footerbgcolor
{
    background: #c61aff;
}
.mainfont
{
    margin-left: 5%;
    font-family: "Lucida Grande";
    font-size: 40px;
    color: #e699ff;
    font-weight: bold;
    font-style: normal;
}
.bottomfont
{
    margin-left: 5%;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size: 18px;
    color: #f2ccff;
    font-style: normal;
}
.btn-font
{
    font-size: 14px;
    color: #FFFFFF;
}