.headerbgcolor
{
    background: #66cc66;
}
.footerbgcolor
{
    background: #29a329;
}
.mainfont
{
	color: #1f7a1f;
    margin-left: 5%;
    font-family: "Lucida Grande";
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
}
.bottomfont
{
	color: #248f24;
    margin-left: 5%;
    font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-size: 18px;
    font-style: normal;
}
.btn-font
{
	color: #0f3d0f;
    font-size: 14px;
    
}



.main-nav .btn-circle {
    border: 3px solid #abab9f;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 7px 0;
    font-size: 12px;
    border-radius: 50%;
    margin: 20px 5px 20px 40px;
}